<div class="cards">
  <div class="container">
    <div class="swiper cards__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide--cards">
          <div class="cards__content">
            <h3 class="cards__title">
              Malibu
              Beach
            </h3>

            <p class="cards__descr">
              California | USA
            </p>
            <a href="#" class="cards__link">
              <span class="cards__first">View</span>
              <span class="cards__last">Surf</span>
            </a>
          </div>
        </div>
        <div class="swiper-slide swiper-slide--cards">
          <div class="cards__content cards__content--two">
            <h3 class="cards__title">
              Airlie
              Beach
            </h3>

            <p class="cards__descr">
              Queensland | Australia
            </p>
            <a href="#" class="cards__link">
              <span class="cards__first">View</span>
              <span class="cards__last">Surf</span>
            </a>
          </div>
        </div>
        <div class="swiper-slide swiper-slide--cards">
          <div class="cards__content cards__content--three">
            <h3 class="cards__title">
              Cloud
              Nine
            </h3>

            <p class="cards__descr">
              Siargao | Philippines
            </p>
            <a href="#" class="cards__link">
              <span class="cards__first">View</span>
              <span class="cards__last">Surf</span>
            </a>
          </div>
        </div>
        <div class="swiper-slide swiper-slide--cards">
          <div class="cards__content cards__content--four">
            <h3 class="cards__title">
              Vieux
              Boucau
            </h3>

            <p class="cards__descr ">
              Hossegor | France
            </p>
            <a href="#" class="cards__link">
              <span class="cards__first">View</span>
              <span class="cards__last">Surf</span>
            </a>
          </div>
        </div>
        <div class="swiper-slide swiper-slide--cards">
          <div class="cards__content">
            <h3 class="cards__title">
              Vieux
              Boucau
            </h3>

            <p class="cards__descr">
              Hossegor | France
            </p>
            <a href="#" class="cards__link">
              <span class="cards__first">View</span>
              <span class="cards__last">Surf</span>
            </a>
          </div>
        </div>
      </div>

    </div>
    <div class="cards__btns">
      <div class="cards__btn-prev"></div>
      <div class="cards__btn-next"></div>
    </div>
  </div>

</div>
