<header class="header" data-menu>
  <div class="header__logo">
    GO&nbsp;&nbsp;&nbsp;SURF
  </div>
  <nav class="nav" title="">
    <ul class="list-reset nav__list">
      <li class="nav__item">
        <a href="#surf" data-scroll class="nav__link">
          <img loading="lazy" src="img/surf.svg" class="nav__svg image" width="58" height="45" alt="surf">
          <span class="nav__descr">Surf</span>
        </a>
      </li>
      <li class="nav__item">
        <a href="#travel" data-scroll class="nav__link">
          <img loading="lazy" src="img/travel.svg" class="nav__svg image" width="49" height="31" alt="travel">
          <span class="nav__descr">Travel</span>
        </a>
      </li>
      <li class="nav__item">
        <a href="#sleep" data-scroll class="nav__link">
          <img loading="lazy" src="img/sleep.svg" class="nav__svg image" width="38" height="38" alt="sleep">
          <span class="nav__descr">Sleep</span>
        </a>
      </li>
      <li class="nav__item">
        <a href="#shop" data-scroll class="nav__link">
          <img loading="lazy" src="img/shop.svg" class="nav__svg image" width="15" height="43" alt="shop">
          <span class="nav__descr">Shop</span>
        </a>
      </li>
    </ul>
  </nav>
  <button class="btn-reset header__search"></button>
  <div class="header__time">
    <span class="header__day">20</span>
    <div class="header__date">
      <span class="header__mounth">06</span> | <span class="header__year">2018</span>
    </div>
  </div>
  <span class="header__addres">
    California
  </span>
</header>
