<section class="hero">

  <div class="hero__burger">
    <button class="btn-reset burger" data-burger>
      <span class="burger__line"></span>
    </button>
  </div>
  <div class="swiper hero__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="hero__content">
          <div class="hero__inner">
            <p class="hero__descr">
              Surf
            </p>
            <h1 class="hero__title">
              North Shore
            </h1>
            <p class="hero__descr">
              Condition
            </p>
            <h2 class="hero__subtitle">
              Radical
            </h2>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="hero__content">
          <div class="hero__inner">
            <p class="hero__descr">
              Surf
            </p>
            <h1 class="hero__title">
              South Shore
            </h1>
            <p class="hero__descr">
              Condition
            </p>
            <h2 class="hero__subtitle">
              Radical
            </h2>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="hero__content">
          <div class="hero__inner">
            <p class="hero__descr">
              Surf
            </p>
            <h1 class="hero__title">
              West Shore
            </h1>
            <p class="hero__descr">
              Condition
            </p>
            <h2 class="hero__subtitle">
              Radical
            </h2>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="hero__content">
          <div class="hero__inner">
            <p class="hero__descr">
              Surf
            </p>
            <h1 class="hero__title">
              East Shore
            </h1>
            <p class="hero__descr">
              Condition
            </p>
            <h2 class="hero__subtitle">
              Radical
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__pagination">
    </div>
    <div class="hero__btn-next hero__btn-next--one"></div>
    <div class="hero__btns">
      <div class="hero__btn-prev"></div>
      <div class="hero__btn-next"></div>
    </div>
    <a href="#surf" data-scroll class="hero__scroll"></a>
  </div>
</section>
