<section class="shop" id="shop">
  <h2 class="section-title section-title--shop">
    Shop
  </h2>
  <div class="swiper shop__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="shop__content">
          <div class="shop__box">
            <span class="shop__text">
              Style
            </span>
            <h3 class="shop__title">
              North Nugget TT <br>
              Surfboard
            </h3>

            <span class="shop__price">
              $799
            </span>
            <a href="#" class="shop__link">
              <span class="shop__first">Drop</span>
              <span class="shop__last">In</span>
            </a>
          </div>
          <div class="shop__img">
            <picture>
              <source srcset="img/board.avif" type="image/avif">
              <source srcset="img/board.webp" type="image/webp">
              <img loading="lazy" src="img/board.png" class="image" width="228" height="695" alt="Surfboard">
            </picture>
            <span class="shop__point"></span>
            <span class="shop__point"></span>
            <span class="shop__point"></span>
          </div>


          <div class="shop__inner">
            <h4 class="shop__subtitle">
              Extras
            </h4>
            <ul class="list-reset shop__list">
              <li class="shop__item">
                <picture>
                  <source srcset="img/shop-1.avif" type="image/avif">
                  <source srcset="img/shop-1.webp" type="image/webp">
                  <img loading="lazy" src="img/shop-1.png" class="image" width="106" height="108" alt="Sex Wax">
                </picture>
                <span class="shop__name">
                  Sex Wax
                </span>
                <span class="shop__count">
                  $24.99
                </span>
              </li>
              <li class="shop__item">
                <picture>
                  <source srcset="img/shop-2.avif" type="image/avif">
                  <source srcset="img/shop-2.webp" type="image/webp">
                  <img loading="lazy" src="img/shop-2.png" class="image" width="120" height="81" alt="Pura Vida">
                </picture>
                <span class="shop__name shop__name--two">
                  Pura Vida
                </span>
                <span class="shop__count">
                  $27.99
                </span>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <div class="swiper-slide">
        <div class="shop__content">
          <div class="shop__box">
            <span class="shop__text">
              Style
            </span>
            <h3 class="shop__title">
              North Nugget TT <br>
              Surfboard
            </h3>

            <span class="shop__price">
              $799
            </span>
            <a href="#" class="shop__link">
              <span class="shop__first">Drop</span>
              <span class="shop__last">In</span>
            </a>
          </div>
          <div class="shop__img">
            <picture>
              <source srcset="img/board.avif" type="image/avif">
              <source srcset="img/board.webp" type="image/webp">
              <img loading="lazy" src="img/board.png" class="image" width="228" height="695" alt="Surfboard">
            </picture>
            <span class="shop__point"></span>
            <span class="shop__point"></span>
            <span class="shop__point"></span>
          </div>

          <div class="shop__inner">
            <h4 class="shop__subtitle">
              Extras
            </h4>
            <ul class="list-reset shop__list">
              <li class="shop__item">
                <picture>
                  <source srcset="img/shop-1.avif" type="image/avif">
                  <source srcset="img/shop-1.webp" type="image/webp">
                  <img loading="lazy" src="img/shop-1.png" class="image" width="106" height="108" alt="Sex Wax">
                </picture>
                <span class="shop__name">
                  Sex Wax
                </span>
                <span class="shop__count">
                  $24.99
                </span>
              </li>
              <li class="shop__item">
                <picture>
                  <source srcset="img/shop-2.avif" type="image/avif">
                  <source srcset="img/shop-2.webp" type="image/webp">
                  <img loading="lazy" src="img/shop-2.png" class="image" width="120" height="81" alt="Pura Vida">
                </picture>
                <span class="shop__name shop__name--two">
                  Pura Vida
                </span>
                <span class="shop__count">
                  $27.99
                </span>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <div class="swiper-slide">
        <div class="shop__content">
          <div class="shop__box">
            <span class="shop__text">
              Style
            </span>
            <h3 class="shop__title">
              North Nugget TT <br>
              Surfboard
            </h3>

            <span class="shop__price">
              $799
            </span>
            <a href="#" class="shop__link">
              <span class="shop__first">Drop</span>
              <span class="shop__last">In</span>
            </a>
          </div>
          <div class="shop__img">
            <picture>
              <source srcset="img/board.avif" type="image/avif">
              <source srcset="img/board.webp" type="image/webp">
              <img loading="lazy" src="img/board.png" class="image" width="228" height="695" alt="Surfboard">
            </picture>
            <span class="shop__point"></span>
            <span class="shop__point"></span>
            <span class="shop__point"></span>
          </div>

          <div class="shop__inner">
            <h4 class="shop__subtitle">
              Extras
            </h4>
            <ul class="list-reset shop__list">
              <li class="shop__item">
                <picture>
                  <source srcset="img/shop-1.avif" type="image/avif">
                  <source srcset="img/shop-1.webp" type="image/webp">
                  <img loading="lazy" src="img/shop-1.png" class="image" width="106" height="108" alt="Sex Wax">
                </picture>
                <span class="shop__name">
                  Sex Wax
                </span>
                <span class="shop__count">
                  $24.99
                </span>
              </li>
              <li class="shop__item">
                <picture>
                  <source srcset="img/shop-2.avif" type="image/avif">
                  <source srcset="img/shop-2.webp" type="image/webp">
                  <img loading="lazy" src="img/shop-2.png" class="image" width="120" height="81" alt="Pura Vida">
                </picture>
                <span class="shop__name shop__name--two">
                  Pura Vida
                </span>
                <span class="shop__count">
                  $27.99
                </span>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div class="shop__btns">
      <div class="shop__btn-prev"></div>
      <div class="shop__btn-next"></div>
    </div>
  </div>
</section>
