<section class="sleep" id="sleep">
  <h2 class="section-title section-title--sleep">
    Sleep
  </h2>

  <div class="swiper sleep__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="sleep__content">
          <span class="sleep__text">
            Rating
          </span>
          <h3 class="sleep__title">
            Excellent
          </h3>

          <ul class="list-reset sleep__list">
            <li class="sleep__item">
              <span class="sleep__descr">
                Resort
              </span>
              <h3 class="sleep__subtitle">
                Auberge
                Australia
              </h3>
            </li>
            <li class="sleep__item">
              <span class="sleep__descr">
                # of Nights
              </span>
              <h3 class="sleep__subtitle">
                <span id="nights">5</span> Nights
              </h3>
              <div class="sleep__btns">
                <button class="btn-reset sleep__minus">

                </button>
                <button class="btn-reset sleep__plus"></button>
              </div>
            </li>
            <li class="sleep__item">
              <span class="sleep__descr">
                # of Guests
              </span>
              <h3 class="sleep__subtitle">
                <span id="guests">4</span> Guests
              </h3>
              <div class="sleep__btns">
                <button class="btn-reset sleep__minus" id="minusguests"></button>
                <button class="btn-reset sleep__plus" id="plusguests"></button>
              </div>
            </li>
            <li class="sleep__item">
              <span class="sleep__descr">
                Pricing
              </span>
              <h3 class="sleep__subtitle">
                $349 USD
              </h3>
            </li>
          </ul>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="sleep__content">
          <span class="sleep__text">
            Rating
          </span>
          <h3 class="sleep__title">
            Excellent
          </h3>

          <ul class="list-reset sleep__list">
            <li class="sleep__item">
              <span class="sleep__descr">
                Resort
              </span>
              <h3 class="sleep__subtitle">
                Auberge
                Australia
              </h3>
            </li>
            <li class="sleep__item">
              <span class="sleep__descr">
                # of Nights
              </span>
              <h3 class="sleep__subtitle">
                <span>5</span> Nights
              </h3>
              <div class="sleep__btns">
                <button class="btn-reset sleep__minus"></button>
                <button class="btn-reset sleep__plus"></button>
              </div>

            </li>
            <li class="sleep__item">
              <span class="sleep__descr">
                # of Guests
              </span>
              <h3 class="sleep__subtitle">
                <span>4</span> Guests
              </h3>
              <div class="sleep__btns">
                <button class="btn-reset sleep__minus"></button>
                <button class="btn-reset sleep__plus"></button>
              </div>
            </li>
            <li class="sleep__item">
              <span class="sleep__descr">
                Pricing
              </span>
              <h3 class="sleep__subtitle">
                $349 USD
              </h3>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="sleep__box">
      <div class="description description--travel">
        <span class="description__descr">
          Resorts
        </span>
        <h3 class="description__subtitle">
          Auberge | Australia
        </h3>
      </div>
      <div class="sleep__nav">
        <div class="sleep__btn-prev"></div>
        <div class="sleep__btn-next"></div>
      </div>
    </div>
  </div>

  <a href="#" class="sleep__link">
    <span class="sleep__first">Book</span>
    <span class="sleep__last">Flight</span>
  </a>

</section>
