<section class="surf" id="surf">
  <h2 class="section-title section-title--surf">
    Surf
  </h2>
  <div class="surf__map">
    <div class="description">
      <span class="description__descr">
        Current location
      </span>
      <h3 class="description__subtitle">
        California | USA
      </h3>
    </div>
    <div class="surf__box">
      <img loading="lazy" src="img/map.svg" class="surf__img image" width="1199" height="634" alt="map">
      <div class="surf__point">
        <div class="surf__info">
          <p class="surf__name">
            Airlie Beach
          </p>
          <a href="" class="surf__btn"></a>
          <span class="surf__addres">
            Australia
          </span>

          <ul class="list-reset surf__list">
            <li class="surf__item">
              <svg class="surf__svg">
                <use xlink:href="img/sprite.svg#wawe"></use>
              </svg>
              <span class="surf__namber">
                9 - 13
              </span>
              <span class="surf__descr">
                Surf (FT)
              </span>
            </li>
            <li class="surf__item">
              <svg class="surf__svg">
                <use xlink:href="img/sprite.svg#water"></use>
              </svg>
              <span class="surf__namber">
                +2.3
              </span>
              <span class="surf__descr">
                Tide (FT)
              </span>
            </li>
            <li class="surf__item">
              <svg class="surf__svg">
                <use xlink:href="img/sprite.svg#wind"></use>
              </svg>
              <span class="surf__namber">
                4 SE
              </span>
              <span class="surf__descr">
                Wind (KTS)
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="surf__point">
        <div class="surf__info">
          <p class="surf__name">
            Airlie Beach
          </p>
          <a href="" class="surf__btn"></a>
          <span class="surf__addres">
            Australia
          </span>

          <ul class="list-reset surf__list">
            <li class="surf__item">
              <svg class="surf__svg">
                <use xlink:href="img/sprite.svg#wawe"></use>
              </svg>
              <span class="surf__namber">
                9 - 13
              </span>
              <span class="surf__descr">
                Surf (FT)
              </span>
            </li>
            <li class="surf__item">
              <svg class="surf__svg">
                <use xlink:href="img/sprite.svg#water"></use>
              </svg>
              <span class="surf__namber">
                +2.3
              </span>
              <span class="surf__descr">
                Tide (FT)
              </span>
            </li>
            <li class="surf__item">
              <svg class="surf__svg">
                <use xlink:href="img/sprite.svg#wind"></use>
              </svg>
              <span class="surf__namber">
                4 SE
              </span>
              <span class="surf__descr">
                Wind (KTS)
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="surf__point">
        <div class="surf__info">
          <p class="surf__name">
            Airlie Beach
          </p>
          <a href="" class="surf__btn"></a>
          <span class="surf__addres">
            Australia
          </span>

          <ul class="list-reset surf__list">
            <li class="surf__item">
              <svg class="surf__svg">
                <use xlink:href="img/sprite.svg#wawe"></use>
              </svg>
              <span class="surf__namber">
                9 - 13
              </span>
              <span class="surf__descr">
                Surf (FT)
              </span>
            </li>
            <li class="surf__item">
              <svg class="surf__svg">
                <use xlink:href="img/sprite.svg#water"></use>
              </svg>
              <span class="surf__namber">
                +2.3
              </span>
              <span class="surf__descr">
                Tide (FT)
              </span>
            </li>
            <li class="surf__item">
              <svg class="surf__svg">
                <use xlink:href="img/sprite.svg#wind"></use>
              </svg>
              <span class="surf__namber">
                4 SE
              </span>
              <span class="surf__descr">
                Wind (KTS)
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="surf__point">
        <div class="surf__info">
          <p class="surf__name">
            Airlie Beach
          </p>
          <a href="" class="surf__btn"></a>
          <span class="surf__addres">
            Australia
          </span>

          <ul class="list-reset surf__list">
            <li class="surf__item">
              <svg class="surf__svg">
                <use xlink:href="img/sprite.svg#wawe"></use>
              </svg>
              <span class="surf__namber">
                9 - 13
              </span>
              <span class="surf__descr">
                Surf (FT)
              </span>
            </li>
            <li class="surf__item">
              <svg class="surf__svg">
                <use xlink:href="img/sprite.svg#water"></use>
              </svg>
              <span class="surf__namber">
                +2.3
              </span>
              <span class="surf__descr">
                Tide (FT)
              </span>
            </li>
            <li class="surf__item">
              <svg class="surf__svg">
                <use xlink:href="img/sprite.svg#wind"></use>
              </svg>
              <span class="surf__namber">
                4 SE
              </span>
              <span class="surf__descr">
                Wind (KTS)
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="surf__point">
        <div class="surf__info">
          <p class="surf__name">
            Airlie Beach
          </p>
          <a href="" class="surf__btn"></a>
          <span class="surf__addres">
            Australia
          </span>

          <ul class="list-reset surf__list">
            <li class="surf__item">
              <svg class="surf__svg">
                <use xlink:href="img/sprite.svg#wawe"></use>
              </svg>
              <span class="surf__namber">
                9 - 13
              </span>
              <span class="surf__descr">
                Surf (FT)
              </span>
            </li>
            <li class="surf__item">
              <svg class="surf__svg">
                <use xlink:href="img/sprite.svg#water"></use>
              </svg>
              <span class="surf__namber">
                +2.3
              </span>
              <span class="surf__descr">
                Tide (FT)
              </span>
            </li>
            <li class="surf__item">
              <svg class="surf__svg">
                <use xlink:href="img/sprite.svg#wind"></use>
              </svg>
              <span class="surf__namber">
                4 SE
              </span>
              <span class="surf__descr">
                Wind (KTS)
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="surf__point">
        <div class="surf__info">
          <p class="surf__name">
            Airlie Beach
          </p>
          <a href="" class="surf__btn"></a>
          <span class="surf__addres">
            Australia
          </span>

          <ul class="list-reset surf__list">
            <li class="surf__item">
              <svg class="surf__svg">
                <use xlink:href="img/sprite.svg#wawe"></use>
              </svg>
              <span class="surf__namber">
                9 - 13
              </span>
              <span class="surf__descr">
                Surf (FT)
              </span>
            </li>
            <li class="surf__item">
              <svg class="surf__svg">
                <use xlink:href="img/sprite.svg#water"></use>
              </svg>
              <span class="surf__namber">
                +2.3
              </span>
              <span class="surf__descr">
                Tide (FT)
              </span>
            </li>
            <li class="surf__item">
              <svg class="surf__svg">
                <use xlink:href="img/sprite.svg#wind"></use>
              </svg>
              <span class="surf__namber">
                4 SE
              </span>
              <span class="surf__descr">
                Wind (KTS)
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="surf__point">
        <div class="surf__info">
          <p class="surf__name">
            Airlie Beach
          </p>
          <a href="" class="surf__btn"></a>
          <span class="surf__addres">
            Australia
          </span>

          <ul class="list-reset surf__list">
            <li class="surf__item">
              <svg class="surf__svg">
                <use xlink:href="img/sprite.svg#wawe"></use>
              </svg>
              <span class="surf__namber">
                9 - 13
              </span>
              <span class="surf__descr">
                Surf (FT)
              </span>
            </li>
            <li class="surf__item">
              <svg class="surf__svg">
                <use xlink:href="img/sprite.svg#water"></use>
              </svg>
              <span class="surf__namber">
                +2.3
              </span>
              <span class="surf__descr">
                Tide (FT)
              </span>
            </li>
            <li class="surf__item">
              <svg class="surf__svg">
                <use xlink:href="img/sprite.svg#wind"></use>
              </svg>
              <span class="surf__namber">
                4 SE
              </span>
              <span class="surf__descr">
                Wind (KTS)
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="surf__point">
        <div class="surf__info">
          <p class="surf__name">
            Airlie Beach
          </p>
          <a href="" class="surf__btn"></a>
          <span class="surf__addres">
            Australia
          </span>

          <ul class="list-reset surf__list">
            <li class="surf__item">
              <svg class="surf__svg">
                <use xlink:href="img/sprite.svg#wawe"></use>
              </svg>
              <span class="surf__namber">
                9 - 13
              </span>
              <span class="surf__descr">
                Surf (FT)
              </span>
            </li>
            <li class="surf__item">
              <svg class="surf__svg">
                <use xlink:href="img/sprite.svg#water"></use>
              </svg>
              <span class="surf__namber">
                +2.3
              </span>
              <span class="surf__descr">
                Tide (FT)
              </span>
            </li>
            <li class="surf__item">
              <svg class="surf__svg">
                <use xlink:href="img/sprite.svg#wind"></use>
              </svg>
              <span class="surf__namber">
                4 SE
              </span>
              <span class="surf__descr">
                Wind (KTS)
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="surf__point">
        <div class="surf__info">
          <p class="surf__name">
            Airlie Beach
          </p>
          <a href="" class="surf__btn"></a>
          <span class="surf__addres">
            Australia
          </span>

          <ul class="list-reset surf__list">
            <li class="surf__item">
              <svg class="surf__svg">
                <use xlink:href="img/sprite.svg#wawe"></use>
              </svg>
              <span class="surf__namber">
                9 - 13
              </span>
              <span class="surf__descr">
                Surf (FT)
              </span>
            </li>
            <li class="surf__item">
              <svg class="surf__svg">
                <use xlink:href="img/sprite.svg#water"></use>
              </svg>
              <span class="surf__namber">
                +2.3
              </span>
              <span class="surf__descr">
                Tide (FT)
              </span>
            </li>
            <li class="surf__item">
              <svg class="surf__svg">
                <use xlink:href="img/sprite.svg#wind"></use>
              </svg>
              <span class="surf__namber">
                4 SE
              </span>
              <span class="surf__descr">
                Wind (KTS)
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
