<section class="travel" id="travel">
  <h2 class="section-title">
    Travel
  </h2>


  <div class="swiper travel__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="travel__content">
          <span class="travel__text">Airline</span>
          <h3 class="travel__title">
            Virgin Australia
          </h3>

          <ul class="list-reset travel__list">
            <li class="travel__item">
              <span class="travel__descr">
                Destination
              </span>
              <h4 class="travel__subtitle">
                Queensland
                Australia
              </h4>
            </li>
            <li class="travel__item">
              <span class="travel__descr">
                Distance
              </span>
              <h4 class="travel__subtitle">
                7,065 Miles
              </h4>
            </li>
            <li class="travel__item">
              <span class="travel__descr">
                Travel Time
              </span>
              <h4 class="travel__subtitle">
                23 Hours
                5 Minutes
              </h4>
            </li>
            <li class="travel__item">
              <span class="travel__descr">
                Pricing
              </span>
              <h4 class="travel__subtitle">
                $1,976 USD
              </h4>
            </li>
          </ul>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="travel__content">
          <span class="travel__text">Airline</span>
          <h3 class="travel__title">
            Virgin Australia
          </h3>

          <ul class="list-reset travel__list">
            <li class="travel__item">
              <span class="travel__descr">
                Destination
              </span>
              <h4 class="travel__subtitle">
                Queensland
                Australia
              </h4>
            </li>
            <li class="travel__item">
              <span class="travel__descr">
                Distance
              </span>
              <h4 class="travel__subtitle">
                7,065 Miles
              </h4>
            </li>
            <li class="travel__item">
              <span class="travel__descr">
                Travel Time
              </span>
              <h4 class="travel__subtitle">
                23 Hours
                5 Minutes
              </h4>
            </li>
            <li class="travel__item">
              <span class="travel__descr">
                Pricing
              </span>
              <h4 class="travel__subtitle">
                $1,976 USD
              </h4>
            </li>
          </ul>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="travel__content">
          <span class="travel__text">Airline</span>
          <h3 class="travel__title">
            Virgin Australia
          </h3>

          <ul class="list-reset travel__list">
            <li class="travel__item">
              <span class="travel__descr">
                Destination
              </span>
              <h4 class="travel__subtitle">
                Queensland
                Australia
              </h4>
            </li>
            <li class="travel__item">
              <span class="travel__descr">
                Distance
              </span>
              <h4 class="travel__subtitle">
                7,065 Miles
              </h4>
            </li>
            <li class="travel__item">
              <span class="travel__descr">
                Travel Time
              </span>
              <h4 class="travel__subtitle">
                23 Hours
                5 Minutes
              </h4>
            </li>
            <li class="travel__item">
              <span class="travel__descr">
                Pricing
              </span>
              <h4 class="travel__subtitle">
                $1,976 USD
              </h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="travel__box">
      <div class="description description--travel">
        <span class="description__descr">
          Shore
        </span>
        <h3 class="description__subtitle">
          Airlie Beach | Australia
        </h3>
      </div>
      <div class="travel__btns">
        <div class="travel__btn-prev"></div>
        <div class="travel__btn-next"></div>
      </div>
    </div>
  </div>


  <a href="#" class="travel__link">
    <span class="travel__first">Book</span>
    <span class="travel__last">Flight</span>
  </a>


</section>
