// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Fira Sans", sans-serif;
  --content-width: 1440px;
  --container-offset: 0px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --main: #4AF6CD;
}
